.container {
  /* Layout Properties */
  height: 33px;
  padding-top: 3.5em;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.logo {
  /* Layout Properties */
  width: 100px;
  height: 33px;
}

.menu-icon {
  width: 40px;
  height: 29px;
  cursor: pointer;
}
